body {
    max-width: 70vw;
}

footer {
    text-align: center;
}

.app-main {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 2200px;
}

.app-main-wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 2200px;
}

.app-main-wrap section {
    display: flex;
    justify-content: space-between;
}

.app-main-wrap section fieldset {
    min-width: 31%;
}

.app-main-wrap section fieldset legend {
    color: rgba(0, 0, 0, .3);
}

.app-section-output {
    min-width: 100%;
}

.app-section-output #outputDiv {
    min-width: 800px;
    margin: auto;
    background-color: rgba(0, 0, 0, .1);
    overflow-y: auto;
    min-height: 400px;
    padding: 1rem;
}

.app-section-output #outputDiv p {
    color: rgba(0, 0, 0, .3);
    padding: 0 1rem;
}


.app-section__btn-group-right {
    display: flex;
    /*justify-content: space-between;*/
    margin-bottom: 1rem;
    width: 100%;
}

.app-section__btn-group-right input {
    width: 100%;
    margin-right: 0;
}

.app-section__btn-export {
    margin-bottom: 1rem;
}

.app-input__upload {
    max-width: 280px;
}

.span-replace__value {
    opacity: 0;
    font-size: 0;
}

.span-reveal.span-replace .span-replace__mask {
    opacity: 0;
    font-size: 0;
}